<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.koge97.autoequicordpatch</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Applications/EquicordInstaller.app/Contents/Resources/autoequicordpatch</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/autoequicordpatch.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/autoequicordpatch.log</string>
</dict>
</plist>
